  .body-title{
    text-align: center;
    color:rgb(11, 32, 32);
 }
 .wrapper{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); 
 }

img{
  float: left;
  margin-right: 15px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding: 1em;
 }

.card-btn button{
    text-decoration: none;
    color: #000;
    padding: 4px 20px;
    justify-content: space-between;
    cursor: pointer;
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 5px;
    background-color: rgb(62, 191, 62);
    border-radius: 3px;
    border-style: none;
 }

 .card-title{
    text-align: center;
 }
 
 .card-description{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 12px;
    justify-content:center;
  
 }

