  .body-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(11, 32, 32);
 }
 
 .wrapper{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5); 
 }

img{
  float: left;
  margin-right: 15px;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  padding: 1em;
 }

.card-btn button{
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 4px 20px;
    justify-content: space-between;
    cursor: pointer;
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 5px;
    background-color: #cafafe;
    border-radius: 3px;
    border-style: none;
 }

 .card-title{
    text-align: center;
 }

 .card-description{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 12px;
    justify-content:center;
  
 }

